services:
  catalogdb:
    image: postgres

  catalogapi:
    image: catalogapi
    build:
      context: .
      dockerfile: src/Services/Catalog/Catalog.API/Dockerfile
    # args:
    #   - configuration=Debug

volumes:
  postgres_catalog:
